#root {
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 2rem;
  text-align: center;
  position: relative;
}

h1 {
  color: #6a994e;
}

p {
  font-size: 18px;
}

.page {

}

.scrollLocked {
  overflow: hidden;
}
.toc {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100vh;

  box-sizing: border-box;
  
  padding: 16px;
  background-color: #fff;
  margin: auto;
}

.closeToc {
  position: absolute;
  right: 1rem;
}

